// spacing
$spacing-small: 6px;
$spacing-medium: 12px;
$spacing-large: 18px;

// color
$color-grey-light: #3a3b3c;
$color-grey-lighten: lighten($color-grey-light, 50%);
$color-grey-dark: #242526;
$color-grey-deep-dark: #18191a;
$color-blue: #2374e1;

// font
$font-size-micro: 8px;
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-regular: 14px;
$font-size-large: 18px;
$font-size-huge: 20px;

// size
$btn-size: 45px;